//Global vriables

//Page
$page-width: 1300px;

//Colors
$primary-color:                     #DC143C;
$secondary-color:                   #DC143C;
$text-color:                        #282d31;

//Font
$font-family:                       'Source Sans Pro', sans-serif;

$font-size-default:                 1rem;
$font-size-xs:                      0.5rem;
$font-size-sm:                      0.75rem;
$font-size-lg:                      1.25rem;
$font-size-xl:                      1.5rem;
$font-size-xxl:                     2rem;

$font-weight-default:               400;
$font-weight-light:                 100;
$font-weight-bold:                  600;
$font-weight-extrabold:             900;


//Profile Variables
$profile-border-radius:             50%;
$profile-width:                     3rem;
$profile-margin:                    0.5rem 0.75rem;
